# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languagues for Data Science
- List the libraries used by Data Scientists
- Mention some open source Data Science Tools
- Solve Arithematic Problems in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
- matplotlib
- numpy
- pandas

Data Science Tools|
------------------|
R|
Python|
Apache|

### Arithematic Examples

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes=200;
hours=minutes/60;
print(hours)

3.3333333333333335

## Author
Yash Vikram